.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fafafa;
  height: 45px;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 0;
}

form label {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  max-width: 500px;
}

label {
  margin-block-end: 1rem;
}

input {
  margin-block-start: 0.3rem;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
}

.btn {
  width: 100%;
  background: #0015ea;
  color: #fff;
  border: none;
  height: 50px;
}

@media screen and (max-width: 500px) {
  form {
    max-width: 400px;
  }
}

@media screen and (max-width: 425px) {
  form {
    max-width: 375px;
  }
}

@media screen and (max-width: 385px) {
  form {
    max-width: 290px;
  }
}
